<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizes</title></title>

    <link rel="stylesheet" href="/quizpage.css">
    <script src="https://kit.fontawesome.com/11d589870a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar-container">
        <div class="left">
            <div class="logo">
                <i class="fas fa-user-graduate"></i>
            </div>
            <div class="quiz-name">
                <h1>Questions</h1>
            </div>
        </div>
        <div class="right">
            
            <div class="after" onclick="toHome()">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="logout"> 
                <i class="fas fa-sign-out-alt"></i>
            </div>
        </div>
    </div>
    <div class="question-container">
   
        <ol type="1">
        <% data.map((item)=>{ %>
            <div class="ques">
                <div class="question-label">
                    <li>
                    <%= item.question %>
                    </li>
                </div>
                <div class="options">
                    <ol type="i">
                    <% item.options.map((item2)=>{ %>
                        <div class="option">
                         
                            
                                <li><span class= option-label><%= item2 %></span></li>
                            
                        </div>
                   <%})%>
                    </ol>
                </div>
                <div class="answer-label" id="<%= item.correct_answer %>" style="display:none;">
                    <%= item.correct_answer %>
                </div>
                <button id="btn" onclick="hide(`<%= item.correct_answer%>`)">Show Answer</button> 
            </div>
        <% }) %>
        </ol>
    </div>
</body>
<script>
        
    const hide=(val)=>{
  
            let Label = document.getElementById(`${val}`);
            console.log(Label.value)
            
            if(Label.style.display == 'none'){
            Label.style.display = 'block';
    }
        }

    const toHome=()=>{
        location.assign(`${window.location.origin}/api/getall`)
    }
      
</script>
</html>